---
import { getCollection } from "astro:content";
import Divider from "./Divider.astro";
import ArrowRight from "../assets/icons/arrow-right.svg";

const products = await getCollection("products");
---

<section class="max-w-5xl mx-auto mt-6 flex flex-col gap-4">
    <h2 class="text-2xl font-semibold">🚧 En construcción</h2>
    <p class="text-sm">
        Proyectos en los que me encuentro trabajando actualmente
    </p>

    {
        products.map((product) => (
            <div class="flex flex-col md:flex-row items-stretch w-full overflow-hidden rounded-2xl">
                <img
                    src={product.data.image}
                    alt={product.data.title}
                    class="w-full md:w-1/2 h-48 md:h-auto m-0 object-cover rounded-t-2xl md:rounded-l-2xl md:rounded-tr-none"
                />

                <div class="bg-[#DFDFDF] p-6 flex flex-col justify-end gap-4 rounded-b-2xl md:rounded-r-2xl md:rounded-bl-none md:w-1/2">
                    <h3 class="text-xl font-bold">{product.data.title}</h3>
                    <p class="text-sm">{product.data.description}</p>
                    <a
                        href={product.data.link}
                        class="text-[#4E4E4E] font-semibold hover:underline flex gap-2 items-center text-sm"
                    >
                        Ver proyecto <ArrowRight />
                    </a>
                </div>
            </div>
        ))
    }

    <Divider />
</section>
